/* custom css */

.markmap-container {
  width: 100%;
  border: 1px solid #aaaaaa !important;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px 0;
  padding: 10px;
}

.markmap {
  width: 100%;
  height: auto;
  min-height: 300px;
  display: block;
}

